:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.carousel__container {
  padding-top: 4rem;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.heading__text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.slider {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.dots__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .slider {
    width: 90%;
  }
}
  
